<!-- boucles sur la liste des voyages dont le boolean isActive est sur false  -->
<div class="carte">

    <ng-container *ngFor="let voyage of voyagesAdecouvrir">

        <figure routerLink="/article/{{voyage.id}}" class="autreVoyageImage">
            <img src="{{voyage.img}}" alt="Elephant at sunset">
            <figcaption class="autreVoyageBandeau">
                <div class="nomBandeau">
                    <span class="pays">{{voyage.pays}}</span>
                    <span class="ville">{{voyage.ville}}</span>
                </div>
                <div class="dateBandeau">
                    Du {{ voyage.dateDepart }} <br /> au {{voyage.dateRetour}}
                </div>
            </figcaption>
        </figure>

    </ng-container>

</div>