/* Composant autre voyages */
img {
    display: block;
    width:100%;
}


/* Image du bas */
/* FigCaption des images dans la catégorie Autres voyages */

ul li {
    width: 500px;
    min-height : 512px;
    margin-bottom: 20px;
    list-style: none;
    
}
.autreVoyageBandeau{
    height:118px;
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    align-items: center;
}
.nomBandeau{
    font-family: 'Lora', serif;
}
.dateBAndeau{
    font-family: 'Inter', serif;
}
.nomBandeau, .dateBandeau{
    color: var(--blanc);
}