.carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Composant autre voyages */
img {
    display: block;
    width:100%;
    /* min-height: 150px; */
   
}


/* Image du bas */
/* FigCaption des images dans la catégorie Autres voyages */



figure {
    width: 48%;
    height : 512px;
    margin-bottom: 20px;
    list-style: none;
    
}
.autreVoyageBandeau{
    height:118px;
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    align-items: center;
}
.nomBandeau{
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    border-right: white solid 1px;
    height: 100%;
    width:60%;
    justify-content: center;
}
.dateBandeau{
    font-family: 'Inter', serif;
    display: flex;
    margin: 0 auto;
    font-size: clamp(12px, 3vw, 16px)
}
.nomBandeau, .dateBandeau{
    color: var(--blanc);
}
.pays, .ville{
    color: white;
}
.pays{
    font-family: 'Lora',serif;
    font-size: clamp(20px, 3vw, 24px);
}
.ville{
    font-family: 'Inter',serif;
    font-size: clamp(14px, 3vw, 16px);
}
@media (max-width: 1100px) {
    .carte {
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        
        
    }
    figure {
        width: 80%;
        /* max-height : 112px; */
    margin-bottom: 33px;
    }
}