<h2 class="espace">Notre avis</h2>
<section>

    <h3 class="espace" *ngIf="positif.length > 0">Les plus</h3>

    <div class="marge">

        <ul *ngFor="let item of positif">
            <li>{{item}}</li>
        </ul>
    </div>

    <h3 class="espace" *ngIf="negatif.length > 0">Les moins</h3>
    <div class="marge">

        <ul *ngFor="let item of negatif">
            <li>{{item}}</li>
        </ul>
    </div>

    <h3 class="espace" *ngIf="conseil.length > 0">Mon conseil</h3>
    <div class="marge">

        <ul *ngFor="let item of conseil">
            <li>{{item}}</li>
        </ul>
    </div>

</section>