<main class="container">

    <!-- Afficher le nom du pays et la ville -->
    <h2>{{voyageDetail!.pays}} - {{voyageDetail!.ville}} </h2>

    <!-- Afficher les dates -->
    <p class="dates espace">{{voyageDetail!.dateDepart}}- {{voyageDetail!.dateRetour}}</p>

    <!-- Afficher la photo -->
    <img class="mainImage" src="{{voyageDetail!.img}}" alt="{{voyageDetail!.pays}}">


    <!-- Le voyage -->
    <h2 class="espace">Le voyage</h2>



    <h2 class="espace">Notre avis</h2>




    <h2 class="espace">En résumé</h2>





    <h2 class="espace">Pour voyager un peu plus</h2>
</main>


