
<!-- Affiche l'élément selected qui a le boolean isActive a true -->

<div *ngFor="let voyage of voyageSelected" class="imageAccueil">
    <figure routerLink="/article/{{voyage.id}}" class="imageTop">
        <img src="{{voyage.img}}" alt="{{voyage.pays}}">
        <div>
            <figcaption class="imageTopCaption">
                <div class="nomimageTopBandeau">
                    {{voyage.pays}} - {{voyage.ville}}
                </div>
                <div class="dateimageTopBandeau">
                    {{voyage.dateDepart}} · {{voyage.dateRetour}}
                </div>
            </figcaption>
        </div>
    </figure>
</div>
