.container {
    margin: 165px 175px 165px 308px;
    height: 100vw;
}
figure {
    position: relative;
}


h2 {
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 38px;
}

