<main class="container">

    <div class="imageAccueil">
        <figure class="imageTop">
            <img src="assets/img/Albanie.png" alt="Albanie - Tirana">
            <figcaption class="imageTopCaption">
                <div class="nomimageTopBandeau">
                    Albanie - Tirana
                </div>
                <div class="dateimageTopBandeau">
                    14.12.2022 / 12.25.2022
                </div>
            </figcaption>
        </figure>
    </div>


    <h2>Autres voyages </h2>


    <!-- Composants autres voyages numéro 4 - lien vers les autres articles -->
    <ul *ngFor="let voyage of voyages">
        <li>
            <figure class="autreVoyageImage">
                <img src="{{voyage.img}}" alt="Elephant at sunset">
                <figcaption class="autreVoyageBandeau">
                    <div class="nomBandeau">
                        {{voyage.pays}} - {{voyage.ville}}
                    </div>
                    <div class="dateBandeau">
                        {{ voyage.dateDepart }} · {{voyage.dateRetour}}
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>



</main>