.container {
    margin: 8vh auto 5vh;

}
figure {
    position: relative;
}


h2 {
    font-family: 'Lora', serif;
    font-size: clamp(20px, 3vw,60px);
    font-weight: normal;
    margin: 0 0 4vw 2vw;
}

