<main class="container">

    <app-dernier-article></app-dernier-article>

    <!-- <div *ngFor="let voyage of voyageSelected" class="imageAccueil">
        <figure class="imageTop">
            <img src="{{voyage.img}}" alt="{{voyage.pays}}">
            <div>
                <figcaption class="imageTopCaption">
                    <div class="nomimageTopBandeau">
                        {{voyage.pays}} - {{voyage.ville}}
                    </div>
                    <div class="dateimageTopBandeau">
                        {{voyage.dateDepart}} · {{voyage.dateRetour}}
                    </div>
                </figcaption>
            </div>
        </figure>
    </div> -->


    <h2>Autres voyages </h2>

    <!-- Composants autres voyages numéro 4 - lien vers les autres articles -->
    <app-autres-voyages></app-autres-voyages>
   

</main>