p {
    padding: 69px 56px;
    background-color: var(--orange);
    color: white;
    white-space: pre-wrap;
    font-size: clamp(18px, 3vw, 20px);
}



h2 {
    font-family: 'Lora', serif;
    font-size: clamp(28px, 3vw, 60px);
    margin-top: 69px;
    font-weight: normal;
    margin-bottom: 44px;
}