/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
    color:#000;
}

:root {
 --orange :#C96B41;
 --beige : #EEDFD4;
 --noir : #000;
 --blanc: #FFF;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: normal;
}
